@model BloggerPortal.Models.TBL_User

@{
    Layout = null;
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Forgot a Password</h3>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="card card-info">
            <div class="form-horizontal">
                <div id="email-container" class="card-body">
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">UserName</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control required-text" id="ForgotUserName" name="UserName"
                                   placeholder="Enter UserName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Email ID</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control required-text" id="UserEmailId" name="EmailId" placeholder="Enter email">
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="SendOTPToEmail();">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div class="card-body" id="otp-container" style="display:none">
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">OTP</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="OTP" name="City"
                                   placeholder="Enter OTP">
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="checkOTPVerify();">Verify</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <div class="card-body" id="updatepwd-container" style="display:none">
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="Updatepwd" name="Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="Updateconfirmpwd" name="ConfirmPassword" placeholder=" Re-Password">
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="Updatepassword();">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .border-red {
        border-color: red !important;
    }
</style>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>


        $(function () {
            $('#UserEmailId').change(function () {
                $(this).removeClass('border-red');
                if (!ValidateEmail($(this).val())) {
                    $(this).val('');
                    $(this).addClass('border-red');
                }

            });
            ValidationColor_Change();
        });

  
    function SendOTPToEmail() {
        var UserName = $("#ForgotUserName").val();
        var EmailId = $("#UserEmailId").val();
            //str = str.replace(/\s/g, '');
        if (UserName == "" || UserName == null) {
            $("#ForgotUserName").addClass('border-red');
            $("#ForgotUserName").focus();
        }
        else if (EmailId == "" || EmailId == null){
            $("#UserEmailId").addClass('border-red');
            $("#UserEmailId").focus();
           }
            else {
            $("#ForgotUserName").removeClass('border-red');
            $("#UserEmailId").removeClass('border-red')
                $.ajax({
                    url: '@Url.Action("UpdateForgotPassword", "Login")',
                    type: "POST",
                    data: { UserName: UserName, EmailId: EmailId },
                    dataType: "json",
                    success: function (status) {                       
                        if (status == 1) {                                                
                            toastr.success('success', 'OTP send successfully...');
                            $("#email-container").hide();
                            $("#otp-container").show();
                        }
                        else {
                            toastr.warning('warning', 'Login failed... Username or EmailId is incorrect...');
                            $('#UserName').val('');
                            $('#UserEmailId').val('');
                            $('#UserName').focus();
                        }

                    }
                });
            }
    }

    function checkOTPVerify() {
           var str = $("#OTP").val();
            //str = str.replace(/\s/g, '');
        if (str == "" || str == null) {
            $("#OTP").addClass('border-red');
             $("#OTP").focus();
            }
            else {
            $("#OTP").removeClass('border-red');
                $.ajax({
                    url: '@Url.Action("CheckOTPVerification", "Login")',
                    type: "POST",
                    data: { OTP: str },
                    dataType: "json",
                    success: function (status) {
                        if (status) {

                            $("#email-container").hide();
                            $("#otp-container").hide();
                            $("#updatepwd-container").show();
                        }
                        else {
                            alert('failure')
                            console.log(e);
                        }

                    }
                });
            }
        }
    function Updatepassword() {
        var password = $("#Updatepwd").val();
        var Confirmpassword = $("#Updateconfirmpwd").val();
            //str = str.replace(/\s/g, '');
        if (password == "" || password == null) {
            $("#Updatepwd").addClass('border-red');
            $("#Updatepwd").focus();
        }
        else if (Confirmpassword == "" || Confirmpassword == null){
            $("#Updateconfirmpwd").addClass('border-red');
            $("#Updateconfirmpwd").focus();
        }
        else if (password != Confirmpassword) {
            $("#Updatepwd").addClass('border-red');
            $("#Updateconfirmpwd").addClass('border-red');
            $("#Updatepwd").focus();
        }
            else {
            $("#Updatepwd").removeClass('border-red');
            $("#Updateconfirmpwd").removeClass('border-red')
                $.ajax({
                    url: '@Url.Action("UpdateUserPassword", "Login")',
                    type: "POST",
                    data: { pwd: password, confirmpwd: Confirmpassword },
                    dataType: "json",
                    success: function (status) {
                        if (status==true) {                            
                            toastr.success('success', 'Password updated successfully...');
                            $("#email-container").hide();
                            $("#otp-container").hide();
                            $("#updatepwd-container").hide();
                            setTimeout(function () {
                                window.location.href = '@Url.Action("Index", "Login")';
                            }, 3000);                           
                        }
                        else {
                            toastr.warning('warning', 'Password is incorrect...');
                           
                        }

                    }
                });
            }
    }



 
    function OnForgotFailure(e) {
        alert('failure')
        console.log(e);
    }

          function OnForgotSuccess(e) {
              debugger;
              alert(e);
            if ('-100' == e) {
                toastr.warning('warning', 'Login failed... Username or Password is incorrect...');
                $('#UserName').val('');
                $('#Password').val('');
                $('#UserName').focus();
            }
            else {
                toastr.success('success', 'New User Created in Successfully...');
                location.href = '@Url.Action("Index","Dashboard")';
            }
        }


</script>


